.btn {
    margin: 10px 0px 10px 0px;
}

#instructions {
  display: none;
  padding-left: 16px;
  position: relative;
  top: 2;
}

.content {
    border: solid #eeeeee;
    border-radius: 5px;
    background-color: #eeeeee;
    margin-bottom: 10px;
    padding: 10px;
    height: 40%;
}
